<div class="admin-general-configuration-cmpt a-configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">build</i><h2>Ogolne</h2>
        </div>
        <form name="form" novalidate>
            <div class="website-info">
                <h4>Witryna</h4>
                <md-input-container>
                    <input mdInput placeholder="Rodzaj produktu" type="text" name="product_type" value="hero">
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="Nazwa witryny" type="text" name="website_name" value="hero">
                </md-input-container>  
                <md-input-container>
                    <input mdInput placeholder="Adres URL witryny" type="text" name="website_url" value="hero.com">
                </md-input-container>  
                <md-checkbox>Korzystaj z SSL</md-checkbox>
                <md-checkbox>Ukryj produkty niebedace aliasami</md-checkbox>
                <md-checkbox>Pokazuj produkty niezalogowanym uzytkownikom</md-checkbox>
            </div>
            <div class="database-info">
                <h4>Baza danych</h4>
               <md-select placeholder="Metoda aktualizacji bazy danych">
                    <md-option>
                        hero
                    </md-option>
                </md-select>
                <md-checkbox>Wgraj przykladowe dane przy tworzeniu bazy danych</md-checkbox>
            </div>
            <div class="other-settings">
                <h4>Pozostale ustawienia</h4>
                <md-checkbox>Zezwalaj na zamowienie suma zerowa</md-checkbox>
                <md-input-container>
                    <input mdInput placeholder="Minimalna wartosc zamowienia" type="text" name="minimal_value_order" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="Domyslna ilosc produktow na strone" type="number" name="products_quantity_number" value="25">
                </md-input-container> 
                <md-checkbox>Zezwalaj na umieszczenie opinii</md-checkbox>
                <md-checkbox>Uzywaj domyslnie cen netto</md-checkbox>
            </div>
            <div class="diagnostic-info">
                <h4>Diagnostyka</h4>
                <md-checkbox>Tryb serwisowy</md-checkbox>
                <md-checkbox>Tryb diagnostyczny</md-checkbox>
                <md-checkbox>Tryb badania</md-checkbox>
            </div>
                <div class="general-configuration-actions">
                    <!--<button class="hero" type="submit" md-raised-button>Zaloguj</button>-->
                </div>
            </form>
            <div class="general-configuration-actions a-configuration-actions">
                <button class="save-btn" md-raised-button>Zapisz</button>
            </div>  
    </md-card>
</div>