<div class="admin-clients-sale-cmpt a-sale">
    <md-card>
        <div class="title">
            <i class="material-icons">group</i>
            <h2>Klienci</h2>
        </div>
        <div class="clients-info">
            <table class="mdl-data-table">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Imie i nazwisko</th>
                        <th>Telefon</th>
                        <th>Nazwa firmy</th>
                        <th>Uwagi</th>
                        <th>Rabat</th>
                        <th>Symbol w subiekcie</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>hero@hero.com</td>
                        <td>Hero hero </td>
                        <td>12392928</td>
                        <td>HERO</td>
                        <td>-</td>
                        <td>0.00</td>
                        <td>hero</td>
                        <td class="center actions">
                            <button class="edit-btn" md-raised-button>Opis dla klienta</button>
                            <button class="blank-btn" md-raised-button>Zresetuj haslo</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>