<div class="admin-stocks-sale-cmpt a-sale">
    <md-card>
        <div class="title">
            <i class="material-icons">store_mall_directory</i>
            <h2>Magazyny</h2>
        </div>
        <div class="stocks-sale-actions a-sale-actions">
            <button class="add-btn" md-raised-button>Dodaj magazyn</button>
        </div>
        <div class="stocks-info">
            <table class="mdl-data-table">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Nazwa</th>
                        <th>Opis</th>
                        <th>Glowny</th>
                        <th>Zewnetrzny</th>
                        <th>Pomin przy synchronizacji</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>HERO</td>
                        <td>hero</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td class="center actions">
                            <button class="edit-btn" md-raised-button>Edytuj</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>