<div class="admin-contact-configuration-cmpt a-configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">account_box</i>
            <h2>Dane podmiotu</h2>
        </div>
        <form novalidate>
            <div class="contact-info">
                <h4>Dane teleadresowe</h4>
                <md-input-container>
                    <input mdInput placeholder="Nazwa podmiotu" type="text" name="contact_name" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="Ulica i numer" type="text" name="contact_address" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="Kod pocztowy" type="text" name="contact_postal_code" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="Miejscowosc" type="text" name="contact_city" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="Bank" type="text" name="contact_bank" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="Telefon 1" type="text" name="contact_telephone1" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="Telefon 2" type="text" name="contact_telephone2" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="Telefon 3" type="text" name="contact_telephone3" value="hero">
                </md-input-container> 
                <md-input-container>
                    <input mdInput placeholder="NIP" type="number" name="conatct_nip" value="32321321">
                </md-input-container> 
            </div> 
        </form> 
        <div class="contact-configuration-actions a-configuration-actions">
            <button class="save-btn" md-raised-button>Zapisz</button>
        </div>    
    </md-card> 
</div>