<div>
    <h2>check list component</h2>
    <ul id="tasks">
        <li *ngFor="let task of checkList" [ngClass]="task.state">
            <span [ngClass]="task.state">{{task.content}}</span> <i [ngClass]="task.state" class="material-icons good" (click)="working(task.id)">check_circle</i> | <i [ngClass]="task.state" class="material-icons bad" (click)="notWorking(task.id)">remove_circle_outline</i>
        </li>
    </ul>
    <!--<button (click)="copyList()" md-raised-button>Kopiuj</button>-->
</div>