<div class="product-details-cmpt">
    <md-card>
                <div class="product-details-wrapper">
                    <div class="image">
                        <img src="../../../assets/images/products/{{product.image}}.jpg" alt="product sample">
                        <md-tab-group>
                                <md-tab label="{{ 'specification' | translate }}">hero</md-tab>
                                <md-tab label="{{ 'description' | translate }}">herooo</md-tab>
                        </md-tab-group>
                    </div>
                    <div class="info">
                    <h4>{{product.name}}</h4>
                    <ul>
                        <li>
                           {{ 'netto_price' | translate }}: 
                           <span>    
                               {{product.priceNetto}} zl
                            </span>
                        </li>
                        <li>
                            Symbol: 
                            <span>
                                {{product.symbol}}
                            </span>
                        </li>
                        <li>
                            {{ 'availability' | translate }}: 
                            <span class="product-availability" attr.data-id="{{product.productID}}">{{product?.availability}}</span>
                            <table class="round-table mdl-data-table" #roundTable>
                                <tr>
                                    <td class="round-name">OPAK.</td>
                                    <td class="round-value" #roundValue>5</td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                    <div class="product-details-actions">
                        <md-input-container>
                            <input #quantity mdInput type="number" min="1" max="100" (change)="roundTo($event.target.value)" attr.data-id="{{product.productID}}" value="{{product?.quantity}}" (focusout)="touched(quantity)">
                        </md-input-container>
                        <button class="hero" (click)="addProductToCart(quantity, product, roundValue)" md-raised-button>{{ 'add' | translate }}</button>
                    </div>
                    </div>
                </div>   
    </md-card>

</div>