<div class="admin-complaints-tools-cmpt a-tools">
    <md-card>
        <div class="title">
            <i class="material-icons">cached</i>
            <h2>Reklamacje</h2>
        </div>
        <div class="complaints-tools-actions a-tools-actions">
            <button class="add-btn" md-raised-button>Dodaj nowy cennik</button>
        </div>
        <div class="complaints-info">
            <table class="mdl-data-table">
                <thead>
                    <tr>
                        <th>Numer reklamacji</th>
                        <th>Data przyjecia</th>
                        <th>Nazwa klienta</th>
                        <th>Status</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>0.0.0.0</td>
                        <td>hero</td>
                        <td>Przyjeta</td>
                        <td class="center">
                            <button class="edit-btn" md-raised-button>Aktualizuj</button>
                            <button class="remove-btn" md-raised-button>Usun</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>