<div class="settings-cmpt a-configuration">
    <md-card>
    <div class="title">
        <i class="material-icons">settings</i>
        <h2>Ustawienia</h2>
    </div>
    <div class="settings-info">
            <div class="settings-info-actions">
                <button class="save-btn" (click)="saveSettings()" md-raised-button>Zapisz ustawienia</button>
                <md-button-toggle (click)="toggleGroup('pulpit')"><i class="material-icons">dashboard</i>Pulpit</md-button-toggle>
                <md-button-toggle (click)="toggleGroup('menu')"><i class="material-icons">menu</i>Menu</md-button-toggle>
                <md-button-toggle (click)="toggleGroup('lista-produktow')"><i class="material-icons">collections_bookmark</i>Lista produktow</md-button-toggle>
                <md-button-toggle (click)="toggleAll()" mdTooltip="pokaz/ukryj ustawienia"><i class="material-icons" #toggleAllSettings>visibility_off</i></md-button-toggle>
            </div>
            <md-card class="single-set" [ngClass]="set.group" *ngFor="let set of settings">
                <span mdTooltip="{{set.description}}" class="description">{{set.short_description}}</span>:
                <md-slide-toggle (change)="updateSettings(set, $event.checked)" *ngIf="set.type == 'boolean'" [checked]="set.value == 'on' ? 1 : 0"></md-slide-toggle>
                <md-input-container *ngIf="set.type == 'html'">
                    <input mdInput (change)="updateSettings(set, $event.target.value)" placeholder="{{set.key}}" type="text" name="{{set.key}}" value="{{set.value}}">
                    <md-icon mdSuffix style="cursor: pointer;">edit</md-icon>
                </md-input-container> 
                <span class="group">{{set.group.replace('-', ' ')}}</span>
            </md-card>
        </div>
    </md-card>
</div>