<div class="orders-history-cmpt">
<md-grid-list cols="1" rowHeight="1:1">
    <md-card class="card-table-wrapper">
      <h4 style="display: inline-block;"><i class="material-icons">history</i>{{ 'orders_history' | translate }}</h4>
        <table class="mdl-data-table">
            <thead>
                <tr>
                    <th>{{ 'client_name' | translate }}</th>
                    <th>{{ 'order_date' | translate }}</th>
                    <th>{{ 'order_no' | translate }}</th>
                    <th>{{ 'shipping_name' | translate }}</th>
                    <th>Status</th>
                    <th class="center"><i class="material-icons">details</i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>AD-MAR s.c.<span class="data-property">{{ 'client_name' | translate }}</span></td>
                    <td>01.01.2017<span class="data-property">{{ 'order_date' | translate }}</span></td>
                    <td>#9999<span class="data-property">{{ 'order_no' | translate }}</span></td>
                    <td>Odbior osobisty<span class="data-property">{{ 'shipping_name' | translate }}</span></td>
                    <td>Przyjete do realizacji<span class="data-property">status</span></td>
                    <td class="center actions"><a md-raised-button [routerLink]="['/customer/order-details', 1]">{{ 'details' | translate }}</a></td>
                </tr>
            </tbody>
        </table>
    </md-card>
</md-grid-list>
</div>