<div class="admin-promotion-codes-sale-cmpt a-sale">
    <md-card>
        <div class="title">
            <i class="material-icons">money_off</i>
            <h2>Kody promocyjne</h2>
        </div>
        <div class="promotion-codes-info">
            <table class="mdl-data-table">
                <thead>
                    <tr>
                        <th>Data dodania</th>
                        <th>Nazwa promocji</th>
                        <th>Rabat</th>
                        <th>Aktywny</th>
                        <th>Kody unikatowe</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>0.0.0.0</td>
                        <td>Hero hero </td>
                        <td>0.00</td>
                        <td>tak</td>
                        <td class="center actions">
                            <button class="download-btn" md-raised-button>Pobierz kody</button>
                            <button class="edit-btn" md-raised-button>Opis dla klienta</button>
                            <button class="remove-btn" md-raised-button>Usun</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>