<div class="admin-static-pages-content-management-cmpt a-content-management">
    <md-card>
        <div class="title">
            <i class="material-icons">insert_drive_file</i>
            <h2>Strony statyczne</h2>
        </div>
        <div class="static-pages-content-management-actions a-content-actions">
            <button class="add-btn" md-raised-button>Dodaj nowa tresc</button>
        </div>
        <div class="static-pages-info">
            <table class="mdl-data-table">
                <thead>
                    <tr>
                        <th>Tytul strony</th>
                        <th>Data modyfikacji</th>
                        <th>Nazwa strony</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>hero</td>
                        <td>0.0.0.0 </td>
                        <td>hero</td>
                        <td class="center actions">
                            <button class="edit-btn" md-raised-button>Edytuj</button>
                            <button class="blank-btn" md-raised-button>Ukryj</button>
                            <button class="remove-btn" md-raised-button>Usun</button>
                            <button class="preview-btn" md-raised-button>Podglad</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>