body{
    background-color: #fff;
}

#side-menu .mat-list .mat-list-item a{
    color: #000;
    text-decoration: none;
}

a,
.r_link{
    color: #000;
}

#cart-items{
    background-color: #fff;
}

.products-list-cmpt .pagination li{
    border-right: 1px solid #ccc;
}

.products-list-cmpt .pagination li:first-child{
    border-left: 1px solid #ccc;
}

.mat-raised-button:not([disabled]):not(.edit-btn):not(.remove-btn):not(.blank-btn){
    background-color: #4caf50 !important;
    color: #fff;
}

.mat-raised-button:not(.blank-btn){
    color: #fff !important;
}
