<style>
  .example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
}
</style>



<div class="products-list-cmpt">
<md-grid-list cols="1" rowHeight="1:1">
    <md-card>
      <h4 style="display: inline-block;"><i class="material-icons">collections_bookmark</i>{{ 'products' | translate }}</h4> <a md-button routerLink="/customer/cart" class="mat-raised-button cart-btn" *ngIf="cartButton"><i class="material-icons">shopping_basket</i> {{ 'cart' | translate }}</a>
      <div>
      <md-input-container>
        <!--<input mdInput placeholder="Szukaj..." type="search" name="search" #search [(ngModel)]="searchString">-->
        <!--<input mdInput placeholder="Szukaj..." type="search" name="search" #search (keyup)="filterTable($event.target.value)">-->
          <input type="text" (keyup)="searchListener(search.value, $event.keyCode)" mdInput placeholder="{{ 'search' | translate }}" #search>
          <md-icon mdSuffix style="cursor: pointer;" (click)="filterTable(search.value)">search</md-icon>
      </md-input-container>  
      <ul class="pagination">
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a (click)="setPage(page)">{{page}}</a>
        </li>
      </ul>
      </div>
<table class="mdl-data-table">
  <thead>
    <tr>
      <th>{{ 'image' | translate }}</th>
      <th>Symbol</th>
      <th>{{ 'product_name' | translate }}</th>
      <th>{{ 'u_m' | translate }}</th>
      <th>VAT</th>
      <th class="sort" (click)="sort('retailPrice')" *ngIf="settings?.show_retail_price.value == 'on'">{{ 'retail_price' | translate }}<i *ngIf="sortType === 'retailPrice'" class="material-icons">keyboard_arrow_down</i></th>
      <th class="sort" (click)="sort('priceNetto')">{{ 'netto_price' | translate }} <i class="material-icons">sort</i></th>
      <th class="sort" (click)="sort('priceBrutto')">{{ 'brutto_price' | translate }} <i class="material-icons">sort</i></th>
      <th *ngIf="settings?.show_discount.value == 'true'">{{ 'discount' | translate }}</th>
      <th *ngIf="settings?.show_client_discount.value == 'true'">{{ 'client_discount' | translate }}</th>
      <th class="sort" (click)="sort('availability')">{{ 'availability' | translate }} <i class="material-icons">sort</i></th>
      <th>{{ 'quantity' | translate }}</th>
      <th class="center"><i class="material-icons">add_shopping_cart</i></th>
    </tr>
  </thead>
  <tbody>
    <tr attr.data-product-row="{{product.productID}}" *ngFor="let product of products | filter : 'name' : searchString; trackBy" #productRow>
    <!--<tr attr.data-product-row="{{product.productID}}" *ngFor="let product of products; trackBy">-->
      <!--<td><img src="../../../assets/images/products/{{product.image}}.jpg" class="product-image-preview" alt="image broken" (click)="imagePreview($event.target)"><span class="data-property">{{ 'image' | translate }}</span></td>-->
      <td><img src="../../../assets/images/angular_logo.png" class="product-image-preview-h" width="100" alt="image broken" (click)="imagePreview($event.target)"><span class="data-property">{{ 'image' | translate }}</span></td>
      <td>{{product.symbol}}<span class="data-property">symbol</span></td>
      <td class="product-name"><a [routerLink]="['/customer/product', product.productID]" mdTooltip="moze opis skrocony tutaj?">{{product.name}}</a><span class="data-property">{{ 'product_name' | translate }}</span></td>
      <td>{{product.unitName}}<span class="data-property">{{ 'u_m' | translate }}</span></td>
      <td>{{product.vat}}%<span class="data-property">VAT</span></td>
      <td class="product-price-base" *ngIf="settings?.show_retail_price.value == 'on'">{{product.priceBase}} zł<span class="data-property">{{ 'retail_price' | translate }}</span></td>
      <td class="product-price-netto">{{product.priceNetto}} zł<span class="data-property">{{ 'netto_price' | translate }}</span></td>
      <td class="product-price-brutto">{{product.priceBrutto}} zł<span class="data-property">{{ 'brutto_price' | translate }}</span></td>
      <td *ngIf="settings?.show_discount.value == 'true'">{{product.discount}}%<span class="data-property">{{ 'discount' | translate }}</span></td>
      <td *ngIf="settings?.show_client_discount.value == 'true'">
        <md-input-container>
            <input mdInput type="number" class="product-discount" (change)="initialDiscount(product, $event.target.value)" value="{{product.discountInit}}" min="0" max="100">
        </md-input-container>
        <span class="data-property">{{ 'client_discount' | translate }}</span>
      </td>
      <td class="product-availability" attr.data-id="{{product.productID}}">{{product.availability}}<span class="data-property">{{ 'availability' | translate }}</span></td>
      <td>
        <md-input-container>
            <input mdInput type="number" #productQty min="1" (change)="roundTo(product.productID, $event.target.value)" (focusout)="touched(productQty)" attr.data-id="{{product.productID}}" value="{{product.quantity}}">
        </md-input-container>
        <span class="data-property">{{ 'quantity' | translate }}</span>
      </td>
      <td class="add-round-actions">
        <button class="hero" (click)="addProductToCart(product, productRow, productQty)" md-raised-button>{{ 'add' | translate }}</button>
        <table class="round-table">
            <tr>
              <th class="round-name">OPAK.</th>
              <td class="round-value">5</td>
            </tr>
        </table>
        <span class="data-property"><i class="material-icons">add_shopping_cart</i></span>
      </td>
    </tr>
  </tbody>
</table>
</md-card>
</md-grid-list>
</div>