<div class="admin-traders-sale-cmpt a-sale">
    <md-card>
        <div class="title">
            <i class="material-icons">account_circle</i>
            <h2>Handlowcy</h2>
        </div>
        <div class="traders-sale-actions a-sale-actions">
            <button class="add-btn" md-raised-button>Dodaj handlowca</button>
        </div>
        <div class="traders-info">
            <table class="mdl-data-table">
                <thead>
                    <tr>
                        <th>Nazwisko</th>
                        <th>Imie</th>
                        <th>Telefon</th>
                        <th>E-mail</th>
                        <th>Skajp</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>hero</td>
                        <td>hero</td>
                        <td>23213212</td>
                        <td>hero@hero.com</td>
                        <td>skajpaj</td>
                        <td class="center actions">
                            <button class="edit-btn" md-raised-button>Edytuj</button>
                            <button class="remove-btn" md-raised-button>Usun</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>