<div class="admin-payments-configuration-cmpt a-configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">attach_money</i>
            <h2>Formy platnosci</h2>
        </div>
        <div class="stocks-configuration-actions a-configuration-actions">
            <button class="add-btn" md-raised-button>Dodaj nowa forme platnosci</button>
        </div>
        <div class="payments-info">
            <table class="mdl-data-table">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Opis</th>
                        <th>Modul</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ustalenia indywidualne</td>
                        <td>Platnosc 1</td>
                        <td class="center actions">
                            <button class="edit-btn" md-raised-button>Edytuj</button>
                            <button class="remove-btn" md-raised-button>Wylacz</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>