<div class="register-cmpt">
     <div class="account-personal-info">
    <md-card>
        <h4> {{ 'personal_info' | translate }}</h4>
        <md-input-container>
            <input mdInput placeholder="Email" type="text" name="email" #email ngModel required>
            <md-error>{{ 'email_required' | translate }}</md-error>
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="{{ 'confirm_email' | translate }}" type="text" name="confirmEmail" #confirmEmail ngModel required>
            <md-error>{{ 'confirm_email_required' | translate }}</md-error>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="{{ 'name' | translate }}" type="text" name="firstName" #firstName ngModel required>
            <md-error>{{ 'name_required' | translate }}</md-error>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="{{ 'surname' | translate }}" type="text" name="lastName" #lastName ngModel required>
            <md-error>{{ 'surname_required' | translate }}</md-error>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="{{ 'street' | translate }}" type="text" name="street" #street ngModel required>
            <md-error>{{ 'street_required' | translate }}</md-error>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="{{ 'address_no' | translate }}" type="text" name="no" #no ngModel required>
            <md-error>{{ 'address_no_required' | translate }}</md-error>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="{{ 'address_no2' | translate }}" type="text" name="no2" #no2 ngModel required>
            <md-error>{{ 'address__no2_required' | translate }}</md-error>
        </md-input-container> 
        <md-input-container>
            <input mdInput placeholder="{{ 'postal_code' | translate }}" type="text" name="postCode" #postCode ngModel required>
            <md-error>{{ 'postal_code_required' | translate }}</md-error>
        </md-input-container> 
        <md-input-container>
            <input mdInput placeholder="{{ 'city' | translate }}" type="text" name="city" #city ngModel required>
            <md-error>{{ 'city_required' | translate }}</md-error>
        </md-input-container> 
        <md-input-container>
            <input mdInput placeholder="{{ 'notes' | translate }}" type="text" name="note" #note ngModel>
        </md-input-container>
      </md-card>
     </div>
     <div class="account-company-info">
    <md-card>
        <h4>{{ 'company_info' | translate }}</h4>
        <md-input-container>
            <input mdInput placeholder="{{ 'company_name' | translate }}" type="text" name="cName" #cName ngModel required>
            <md-error>{{ 'company_name_required' | translate }}</md-error>
        </md-input-container>
        <md-input-container>
            <input mdInput placeholder="{{ 'company_address' | translate }}" type="text" name="cAddress" #cAddress ngModel required>
            <md-error>{{ 'company_address_required' | translate }}</md-error>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="{{ 'company_postal_code' | translate }}" type="text" name="cPostCode" #cPostCode ngModel required>
            <md-error>{{ 'postal_code_required' | translate }}</md-error>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="{{ 'company_city' | translate }}" type="text" name="cCity" #cCity ngModel required>
            <md-error>{{ 'company_city_required' | translate }}</md-error>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="NIP" type="text" name="cTaxId" #cTaxId ngModel required>
            <md-error>{{ 'company_nip_required' | translate }}</md-error>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="REGON" type="text" name="cRegon" #cRegon ngModel required>
            <md-error>{{ 'company_regon_required' | translate }}</md-error>
        </md-input-container>  
        <md-input-container>
            <input mdInput placeholder="{{ 'phone' | translate }}" type="number" name="phone" #phone ngModel required>
            <md-error>{{ 'phone_required' | translate }}</md-error>
        </md-input-container> 
        <md-input-container>
            <input mdInput placeholder="{{ 'phone2' | translate }}" type="text" name="phone2" #phone2 ngModel>
        </md-input-container>
        <div class="conditions">
            <md-checkbox>Akceptuje!</md-checkbox>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum voluptatem distinctio quod, voluptates fugiat, odit ab enim voluptate sequi et itaque tenetur dolor, soluta officiis eius molestias maxime qui commodi!Sequi blanditiis neque dolor dolores, nulla eveniet at sunt sed facere, cumque non commodi quo, aliquid tempore voluptatibus rerum? Odio optio dolor, recusandae rerum cupiditate eius ut. Quidem, modi quo.</p>
        </div>
        <div class="register-actions">
            <button class="add-btn" type="submit" md-raised-button>{{ 'register_now' | translate }}</button>
        </div> 
      </md-card>
     </div>
</div>