<div class="admin-orders-sale-cmpt a-sale">
    <md-card>
        <div class="title">
            <i class="material-icons">history</i>
            <h2>Zamowienia</h2>
        </div>
        <div class="orders-info">
            <table class="mdl-data-table">
                <thead>
                    <tr>
                        <th>Numer zamowienia</th>
                        <th>Data zamowienia</th>
                        <th>Data platnosci</th>
                        <th>Nazwa klienta</th>
                        <th>Firma</th>
                        <th>Wartosc zamowienia</th>
                        <th>Status</th>
                        <th>Uwagi</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>0.0.0.0</td>
                        <td>0.0.0.0</td>
                        <td>HERO</td>
                        <td>hero company</td>
                        <td>9.00zl</td>
                        <td>hero</td>
                        <td>hero</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>