<div class="order-confirm-cmpt">
    <md-card>
        <i class="material-icons shopping_basket">shopping_basket</i>
        <h4>{{'order_thanks' | translate}}. {{'order_no' | translate}} #001. </h4>
    </md-card>
</div>