<div class="news_cmpt">
    <md-card>
        <h4 style="display: inline-block;"><i class="material-icons">markunread_mailbox</i>{{ 'news' | translate }}</h4>
        <md-card class="news_unread">
            <md-card-header>
                <div md-card-avatar class="example-header-image">
                    <img src="../../assets/images/angular_logo.png" alt="mercatum_logo" style="width: 35px;">
                </div>
                <md-card-title>Lorem ipsum</md-card-title>
                <md-card-subtitle>angular 4 b2b</md-card-subtitle>
            </md-card-header>
            <md-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum cum, repellat eaque id dolorum quas quia illo quaerat a sit consectetur voluptates, pariatur dicta accusamus, corporis quam qui exercitationem. Temporibus!
                </p>
            </md-card-content>
            <md-card-actions>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
            </md-card-actions>
        </md-card>
        <md-card>
            <md-card-header>
                <div md-card-avatar class="example-header-image">
                    <img src="../../assets/images/angular_logo.png" alt="mercatum_logo" style="width: 35px;">
                </div>
                <md-card-title>Lorem ipsum</md-card-title>
                <md-card-subtitle>angular 4 b2b</md-card-subtitle>
            </md-card-header>
            <md-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque dolore consequatur, mollitia iste quaerat ipsa natus vel itaque eum ratione odio ipsam omnis cumque? Repudiandae provident numquam natus, rem sint. Laudantium necessitatibus id, autem non? Illum nam adipisci quae quam iure, asperiores sapiente quibusdam architecto! Facilis esse temporibus repellendus nobis. Suscipit id hic vel expedita dolorem accusantium, doloremque debitis illo.
                </p>
            </md-card-content>
            <md-card-actions>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
            </md-card-actions>
        </md-card>
                <md-card>
            <md-card-header>
                <div md-card-avatar class="example-header-image">
                    <img src="../../assets/images/angular_logo.png" alt="mercatum_logo" style="width: 35px;">
                </div>
                <md-card-title>Lorem ipsum</md-card-title>
                <md-card-subtitle>angular 4 b2b</md-card-subtitle>
            </md-card-header>
            <md-card-content>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur illo, reprehenderit pariatur repellendus doloribus autem fuga consequuntur quo minus esse facere provident sit molestias vitae dolorum perspiciatis necessitatibus laudantium dolorem!
                </p>
            </md-card-content>
            <md-card-actions>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
            </md-card-actions>
        </md-card>
    </md-card>
</div>
