<div class="admin-loyalty-sale-cmpt a-sale">
    <md-card>
        <div class="title">
            <i class="material-icons">loyalty</i>
            <h2>Program lojalnosciowy</h2>
        </div>
        <div class="loyalty-sale-actions a-sale-actions">
            <button class="add-btn" md-raised-button>Dodaj nowy produkt</button>
            <button class="add-btn" md-raised-button>Modyfikuj punkty klientow</button>
        </div>
        <div class="loyalty-info">
            <table class="mdl-data-table">
                <thead>
                    <tr>
                        <th>Nazwa produktu</th>
                        <th>Data dodania</th>
                        <th>Ilosc punktow lojalnosciowych</th>
                        <th>Widoczny</th>
                        <th class="center"><i class="material-icons">details</i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>hero</td>
                        <td>0.0.0.0</td>
                        <td>999</td>
                        <td>tak</td>
                        <td class="center actions">
                            <button class="edit-btn" md-raised-button>Edytuj</button>
                            <button class="remove-btn" md-raised-button>Usun</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card>
</div>