<div class="admin-stocks-configuration-cmpt a-configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">store_mall_directory</i>
            <h2>Magazyny</h2>
        </div>
        <form novalidate>
            <div class="stocks-info">
                <md-checkbox>Sprawdzaj dostepnosc towarow</md-checkbox>
                <md-input-container>
                    <input mdInput placeholder="Magazyn domyslny" type="text" name="default_stock" value="hero">
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="Komunikat gdy nie ma towaru na magazynie" type="text" name="message_info_when_product_unvailable" value="hero">
                </md-input-container>  
                <md-checkbox>Wlacz obsluge magazynu</md-checkbox>
                <md-checkbox>Wlacz obsluge magazynow zewnetrznych</md-checkbox>
                <md-checkbox>Obsluga wielu magazynow</md-checkbox>
                <md-input-container>
                    <input mdInput placeholder="Czas odswiezania stanow magazynowych zewnetrznych" type="number" name="refresh_stocks_time" value="100">
                </md-input-container>
                <md-checkbox>Pokaz stany magazynowe</md-checkbox>
                <md-checkbox>Zezwol na zamienniki</md-checkbox>
                <md-input-container>
                    <input mdInput placeholder="Wzorzec wyliczania dostepnosci towaru" type="text" name="pattern_product_availability" value="herooo">
                </md-input-container>
                <md-input-container>
                    <input mdInput placeholder="Wzorzec prezentacji towaru" type="text" name="pattern_product_presenting" value="hero">
                </md-input-container>
                <md-checkbox>Pokazuj handlowcom faktyczne stany magazynowe</md-checkbox>
            </div>
            <div class="stocks-configuration-actions a-configuration-actions">
                <button class="save-btn" md-raised-button>Zapisz</button>
            </div>
        </form>
    </md-card>
</div>