
<div class="admin-dashboard-cmpt">
    <md-card>
<h2>Panel administracyjny</h2>

<md-tab-group>
  <md-tab label="Konfiguracja">
    <a class="link-card" routerLink="/admin/configuration/general">
        <md-card>
            <i class="material-icons">build</i>
            <h6>Ogolne</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/contact">
        <md-card>
            <i class="material-icons">account_box</i>
            <h6>Dane podmiotu</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/settings">
        <md-card>
            <i class="material-icons">settings</i>
            <h6>Ustawienia</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/price-lists">
        <md-card>
            <i class="material-icons">import_contacts</i>
            <h6>Cenniki</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/stocks">
        <md-card>
            <i class="material-icons">store_mall_directory</i>
            <h6>Magazyny</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/clients">
        <md-card>
            <i class="material-icons">group</i>
            <h6>Klienci</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/payments">
        <md-card>
            <i class="material-icons">attach_money</i>
            <h6>Formy platnosci</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/shipping">
        <md-card>
            <i class="material-icons">local_shipping</i>
            <h6>Rodzaje wysylek</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/status">
        <md-card>
            <i class="material-icons">compare_arrows</i>
            <h6>Statusy zamowien</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/notifications">
        <md-card>
            <i class="material-icons">sms</i>
            <h6>Powiadomienia</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/email">
        <md-card>
            <i class="material-icons">email</i>
            <h6>Ustawienia email</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/newsletter">
        <md-card>
            <i class="material-icons">contact_mail</i>
            <h6>Ustawienia Newslettera</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/configuration/eventlog">
        <md-card>
            <i class="material-icons">find_in_page</i>
            <h6>Dziennik zdarzen</h6>
        </md-card>
    </a>
     <a class="link-card" routerLink="/admin/settings">
        <md-card>
            <i class="material-icons">insert_drive_file</i>
            <h6>Plik diagnostyczny</h6>
        </md-card>
    </a>
  </md-tab>
  <md-tab label="Narzedzia">
    <a class="link-card disabled" routerLink="/admin/settings">
        <md-card>
            <i class="material-icons">tab_unselected</i>
            <h6>SEO</h6>
        </md-card>
    </a>
    <a class="link-card disabled" routerLink="/admin/settings">
        <md-card>
            <i class="material-icons">exit_to_app</i>
            <h6>Exporter</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/tools/complaints">
        <md-card>
            <i class="material-icons">cached</i>
            <h6>Reklamacje</h6>
        </md-card>
    </a>
  </md-tab>
  <md-tab label="Sprzedaz">
    <a class="link-card" routerLink="/admin/sale/clients">
        <md-card>
            <i class="material-icons">group</i>
            <h6>Klienci</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/sale/orders">
        <md-card>
            <i class="material-icons">history</i>
            <h6>Zamowienia</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/sale/promotion-codes">
        <md-card>
            <i class="material-icons">money_off</i>
            <h6>Kody promocyjne</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/sale/products">
        <md-card>
            <i class="material-icons">collections_bookmark</i>
            <h6>Produkty</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/sale/stocks">
        <md-card>
            <i class="material-icons">store_mall_directory</i>
            <h6>Magazyny</h6>
        </md-card>
    </a>
    <a class="link-card disabled" routerLink="/admin/settings">
        <md-card>
            <i class="material-icons">tonality</i>
            <h6>Aliasy produktow</h6>
        </md-card>
    </a>
    <a class="link-card disabled" routerLink="/admin/settings">
        <md-card>
            <i class="material-icons">sort</i>
            <h6>Sortowanie kategorii</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/sale/traders">
        <md-card>
            <i class="material-icons">account_circle</i>
            <h6>Handlowcy</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/sale/loyalty">
        <md-card>
            <i class="material-icons">loyalty</i>
            <h6>Program lojalnosciowy</h6>
        </md-card>
    </a>
  </md-tab>
  <md-tab label="Zarzadzanie trescia">
    <a class="link-card" routerLink="/admin/content-management/news">
        <md-card>
            <i class="material-icons">assignment</i>
            <h6>Aktualnosci</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/content-management/static-pages">
        <md-card>
            <i class="material-icons">insert_drive_file</i>
            <h6>Strony statyczne</h6>
        </md-card>
    </a>
    <a class="link-card disabled" routerLink="/admin/settings">
        <md-card>
            <i class="material-icons">tab_unselected</i>
            <h6>Elementy witryny</h6>
        </md-card>
    </a>
    <a class="link-card disabled" routerLink="/admin/settings">
        <md-card>
            <i class="material-icons">collections</i>
            <h6>Banery</h6>
        </md-card>
    </a>
    <a class="link-card" routerLink="/admin/content-management/menu">
        <md-card>
            <i class="material-icons">menu</i>
            <h6>Menu</h6>
        </md-card>
    </a>
  </md-tab>
</md-tab-group>
    </md-card>
</div>