
<div class="dialog_confirm_wrapper">
    <md-dialog-content>{{ 'confirm_message' | translate }}</md-dialog-content>
    <md-dialog-actions>
    <button md-button [md-dialog-close]="false">{{ 'no' | translate }}</button>
    <button md-button [md-dialog-close]="true">{{ 'yes' | translate }}</button>
    </md-dialog-actions>
</div>