<div class="admin-notifications-configuration a-configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">sms</i>
            <h2>Powiadomienia</h2>
        </div>
        <form novalidate>
            <div class="notifications-info">
                <md-checkbox>Powiadomienie o zmianie statusu zamowienia</md-checkbox>
                <md-checkbox>Powiadomienie o zsynchronizowaniu zamowienia</md-checkbox>
                <md-checkbox>Powiadomienie do klienta o zarejestrowaniu</md-checkbox>
                <md-checkbox>Powiadomienie do sklepu o zarejestrowanie klienta</md-checkbox>
                <md-checkbox>Powiadomienie o aktualizacji profilu</md-checkbox>
                <md-checkbox>Wysylaj fakture VAT (PDF) po jej wystawieniu</md-checkbox>
                <md-checkbox>Wysylaj Fakture VAT (XML) po jej wystawieniu</md-checkbox>
            </div>
            <div class="notifications-configuration-actions a-configuration-actions">
                <button class="save-btn" md-raised-button>Zapisz</button>
            </div>  
        </form>
    </md-card>
</div>