<div class="clients-list-cmpt">
    <md-card class="card-table-wrapper">
      <h4 style="display: inline-block;"><i class="material-icons">people</i>{{ 'clients' | translate }}</h4>
<table class="mdl-data-table">
  <thead>
    <tr>
      <th>Lp.</th>
      <th>Email</th>
      <th>Symbol</th>
      <th>{{ 'client_name' | translate }}</th>
      <th>{{ 'address' | translate }}</th>
      <th class="center"><i class="material-icons">block</i></th>
      <th class="center"><i class="material-icons">edit</i></th>
      <th class="center"><i class="material-icons">lock_open</i></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clients" [ngClass]="client.blocked ? 'client_blocked' : 'client'">
      <td>{{client.clientID}}<span class="data-property">LP.</span></td>
      <td>{{client.email}}<span class="data-property">email</span></td>
      <td>{{client.symbol}}<span class="data-property">symbol</span></td>
      <td>{{client.name}}<span class="data-property">{{ 'name' | translate }}</span></td>
      <td>{{client.address}}<span class="data-property">{{ 'address' | translate }}</span></td>
      <td class="center actions">
        <button (click)="confirmDialog(client.clientID)" [ngClass]="client.blocked ? 'add-btn' : 'remove-btn'" md-raised-button>
          <span *ngIf="!client.blocked;else unblock">{{ 'block' | translate }}</span>
        </button>
        <ng-template #unblock>{{ 'unblock' | translate }}</ng-template> 
      </td>
      <td class="center actions">
        <a class="edit-btn" [routerLink]="['/customer/modify-client', client.clientID]" md-raised-button>{{ 'edit' | translate }}</a>
      </td>
      <td class="center actions">
        <a class="blank-btn" [routerLink]="['/customer/change-password-client', client.clientID]" md-raised-button>{{ 'change_password' | translate }}</a>
      </td>
    </tr>
  </tbody>
</table>
    </md-card>
</div>