
<div style="text-align: center;">
<h2>{{ 'dashboard' | translate }} </h2>

<!-- <img src="../../assets/images/dashboard_img.png" alt="dashboard_image" height="600px"> -->
</div>

<!--<p style="text-align: center;">
    {{settings?.welcome_message.value}}
</p>-->

<div class="hero" [ngClass]="settings?.show_banners.value == 'true' ? 'show' : 'hide'">
    <div class="banners-wrapper" id="carousel">
        <div class="banner-holder">
            <img src="#" alt="#">
            <p class="banner-text"></p>
            <div class="bottom-navigation">
                <span *ngFor="let banner of banners; let i= index;" (click)="changeBanner(i)" attr.data-banner-id="{{i}}"></span>
            </div>
        </div>
    </div>
</div>
