<md-menu #colorFill="mdMenu" class="colors_palete">
    <div class="color"><i class="material-icons" (click)="resetFillLayout()" mdTooltip="default">invert_colors_off</i></div>
    <div *ngFor="let color of colors" (click)="colorFillLayout(color)" mdTooltip="{{color.fill}}" md-menu-item [ngClass]="color.fill" class="color"> </div>
</md-menu>

<button md-icon-button [mdMenuTriggerFor]="colorFill" mdTooltip="Zmiana koloru layoutu" class="hide-mobile">
    <i class="material-icons">format_color_fill</i>
</button>