<h4>{{ 'shipping_and_payments' | translate }}</h4>
<div class="shipping">
    <h6>{{ 'shipping_method' | translate }}</h6>
    <md-radio-group>
        <md-radio-button value="1" checked="true">Odbior osobisty</md-radio-button>
        <md-radio-button value="2">Kurier</md-radio-button>
    </md-radio-group>
</div>
<div class="payments">
    <h6>{{ 'payment_method' | translate }}</h6>
    <md-radio-group>
        <md-radio-button value="1" checked="true">Ustalenia indywidualne</md-radio-button>
        <md-radio-button value="2">PayU</md-radio-button>
        <md-radio-button value="3">Indywidualne ustalenia</md-radio-button>
    </md-radio-group>
</div>
<h4>{{ 'notes' | translate }}</h4>
<md-input-container class="order-notes" name="order_notes">
    <input mdInput #message maxlength="256">
    <md-hint align="end">{{message.value.length}} / 256</md-hint>
    <md-icon mdSuffix>mode_edit</md-icon>
</md-input-container>