<div class="admin-eventlog-cmpt a-configuration">
    <md-card>
        <div class="title">
            <i class="material-icons">find_in_page</i>
            <h2>Dziennik zdarzen</h2>
        </div>
        <table class="mdl-data-table">
            <thead>
                <tr>
                    <th>Data wystapienia</th>
                    <th>Adres IP</th>
                    <th>Nazwa zdarzenia</th>
                    <th>Opis zdarzenia</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2017-08-03 11:42:21</td>
                    <td>94.254.165.7</td>
                    <td>hero</td>
                    <td>hero</td>
                </tr>
            </tbody>
        </table>
    </md-card>
</div>