<div class="documents-cmpt">
<md-grid-list cols="1" rowHeight="1:1">
    <md-card class="card-table-wrapper">
      <h4 style="display: inline-block;"><i class="material-icons">folder_open</i>{{ 'documents' | translate }}</h4>
        <table class="mdl-data-table">
            <thead>
                <tr>
                    <th>{{ 'number' | translate }}</th>
                    <th>{{ 'date' | translate }}</th>
                    <th class="center"><i class="material-icons">details</i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1<span class="data-property">{{ 'number' | translate }}</span></td>
                    <td>01.01.2017<span class="data-property">{{ 'date' | translate }}</span></td>
                    <td class="center actions"><button md-raised-button>{{ 'details' | translate }}</button></td>
                </tr>
            </tbody>
        </table>
    </md-card>
</md-grid-list>
</div>