@import './variables.scss';

@mixin border-shadow{
    border: 1px solid rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

@mixin fill-panel{
    background-color: $white;
}

@mixin ubuntu{font-family: 'Ubuntu', sans-serif;}

@mixin status_colors{
        .alert{
            background-color: $alert;
        }
        .success{
            background-color: $success;
        }
        .info{
            background-color: $info;
        }
        .warning{
            background-color: $warning;
        }
        .natural{
            background-color: $white;
            color: #000;
        }
}

@mixin display_flex{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}